<div class="full-height background-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <p><%= lastLabelled %> / <%= job.texts.length %></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="progress">
                    <div class="progress-bar bg-secondary" role="progressbar" style="width:<%= (lastLabelled/job.texts.length)*100 %>%;" aria-valuenow="<%= (lastLabelled/job.texts.length)*100 %>" aria-valuemin="0" aria-valuemax="100"><%= (lastLabelled/job.texts.length).toFixed(2)*100 %>%</div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <% texts.forEach((text) => { %>
                    <div>
                        <%- include("../text/textcard", {text:text, showOptions:true}) %>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>



</div>
