<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	<title>labellr</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">
			<img src="/img/labellrlogo.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
			labellr
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<!-- All Users -->
				<% if(currentUser){%>
				<li class="nav-item">
					<a class="nav-link" href="/account">Account</a>
				</li>

				<!-- User is client -->
				<% if(currentUser.userType==2){%>
				<li class="nav-item">
					<a class="nav-link" href="/client/create">Create New Workflow</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/client/dashboard">Dashboard</a>
				</li>
				<% } %>
				<!-- User is Labeller -->
				<% if(currentUser.userType==1){%>
				<li class="nav-item">
					<a class="nav-link" href="/labeller/workflows">Jobs Available</a>
				</li>
                <% } %>
                <!-- User is Admin -->
                <% if(currentUser.userType==0){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                    </li>
                <% } %>
                
				<% } %>
				<% if(currentUser){%>
				<li class="nav-item">
					<a class="nav-link" href="/auth/logout">Logout</a>
				</li>
				<% } %>
			</ul>
			<% if(currentUser){%>
			<span class="navbar-text">Logged in as <%= currentUser.firstname %> <%= currentUser.lastname %></span>
			<% } %>
		</div>
	</nav>


	<% if(alerts.error){ %>
	<% alerts.error.forEach( message => { %>
	<div class="alert alert-danger mb-0">
		<%= message %>
	</div>
	<% })} %>
	<% if(alerts.success){ %>
	<% alerts.success.forEach( message => { %>
	<div class="alert alert-success mb-0">
		<%= message %>
	</div>
	<% })} %>

	<%- body %>
</body>

</html>


<!-- https://coolors.co/99b0b4-62868d-406b74-1c4953-a24936 -->