<div class="card my-2 w-75 mx-auto">
	<div class="card-body">
        <div class="font-italic text-center">
            <%= text.textContent %> 
        </div>
        
        <% if(showOptions) { %>

            <div class="my-3 text-center">
                Negative
                <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/1" class="btn btn-light btn-sent btn-vnegative mx-1 btn-sm">1</a>
                <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/2" class="btn btn-light btn-sent btn-negative mx-1 btn-sm">2</a>
                <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/3" class="btn btn-light btn-sent btn-neutral mx-1 btn-sm">3</a>
                <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/4" class="btn btn-light btn-sent btn-positive mx-1 btn-sm">4</a>
                <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/5" class="btn btn-light btn-sent btn-vpositive mx-1 btn-sm">5</a>
                Positive
            </div>
<!-- <div class="my-3 text-center">
    <a href="/labeller/label/job/<%= job._id %>/text/<%= text._id %>/sentiment/0" class="btn btn-outline-secondary btn-sent btn-unsure mx-1 btn-sm">Not Sure</a>
</div> -->
            
        <% } %>
	</div>
</div>