<div class="card my-2">
	<div class="card-header text-capitalize font-weight-bold">
		<%= job.dataType %> labelling workflow - <% job.labelType.forEach((type,idx)=>{ %>
		<% if(idx>0) { %>
		<%= ", " %>
		<% } %>
		<%= type %>
		<% })%>
	</div>
	<div class="card-body">
		<h6 class="card-title"><strong>Title:</strong> <%= job.jobName %></h6>
        <div><strong>Created:</strong> <%= job.createdAt.toDateString() %> </div>
        <div><strong>Labels per data point:</strong> <%= job.numLabels %> </div>
        <div><strong>Due Date:</strong> <%= job.dueDate %> </div>
        <div><strong>Status:</strong> <%= job.status %> </div>
        <div><strong>No. of labellers:</strong> <%= "" %> </div>
        <div><strong>No. of data points:</strong> <%= job[`${job.dataType}s`].length %> </div>
        <div><strong>Owner:</strong> <%= job.owner.firstname %> <%= job.owner.lastname %></div>
        <!-- CLIENT  -->
        <% if(currentUser.userType!==1){ %>
            
            <form method="POST" action="/client/delete/<%= job._id %>?_method=DELETE">
				<button class="btn btn-danger float-right mx-1 btn-sm" type="submit">Delete</button>
            </form>
            
            <% if(job.status!="closed"){ %>
            <a href="/client/edit/<%= job._id %>" class="btn btn-primary mx-1 float-right btn-sm">Edit</a>
            <% } %> 

            <% if(showView){ %>
                <a href="/client/view/<%= job._id %>" class="btn btn-primary mx-1 float-right btn-sm">View</a>
            <% } %>
            
            <% if(job.status=="notStarted"){ %>
                <a href="/client/upload/text_manual/<%= job._id %>" class="btn btn-primary mx-1 float-right btn-sm">Manual Upload Data</a>
                <a href="/client/publish/<%= job._id %>" class="btn btn-success mx-1 float-right btn-sm">Publish</a>
            <% } else if (job.status=="inProgress"){ %>
                <a href="/client/close/<%= job._id %>" class="btn btn-success mx-1 float-right btn-sm">Close Workflow</a>
            <% } %>
        
        <% } %>
        <!-- LABELLER -->
        <% if(currentUser.userType==1){ %>
            <a href="/labeller/label/<%= job._id %>" class="btn btn-success mx-1 float-right btn-sm">Start Labelling</a>
        <% } %>

	</div>
</div>